<div class="contenedor">
  <div class="barra__superior">
    <h1>Empleados</h1>
    <button class="boton__agregar" (click)="modal()"></button>
  </div>
  <table class="tabla">
    <tr class="tabla__barra">
      <th>No</th>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Fecha de nacimiento</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Puesto</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
    <tr
      *ngFor="let empleado of empleados; index as indice"
      class="tabla__datos"
    >
      <td>{{ indice + 1 }}</td>
      <td>{{ empleado.codigo }}</td>
      <td>{{ empleado.nombre }} {{ empleado.apellido }}</td>
      <td>{{ empleado.fecha_nacimiento | date : "dd/MM/yyyy" }}</td>
      <td>{{ empleado.direccion }}</td>
      <td>{{ empleado.telefono }}</td>
      <td>{{ empleado.puesto }}</td>
      <td>{{ empleado.estado }}</td>
      <td>
        <button class="boton boton--1" (click)="edicion(empleado)"></button>
        <button
          class="boton boton--2"
          (click)="mostrarModalEliminar(empleado.idempleados!)"
        ></button>
      </td>
    </tr>
  </table>
  <!--Diseño Mobile-->
  <div class="contenedor__tabla__mobile">
      <table class="tabla__mobile" *ngFor="let empleado of empleados; index as indice">
        <tr class="Tabla__mobile__head">
          <th>No:</th>
          <th>Codigo:</th>
          <th>Nombre:</th>
          <th>Fecha de nac:</th>
          <th>Direccion:</th>
          <th>Telefono:</th>
          <th>Puesto:</th>
          <th>Estado:</th>
          <th>Acciones:</th>
        </tr>
        <tr class="tabla__mobile__filas">
          <td>{{indice + 1}}</td>
          <td>{{empleado.codigo}}</td>
          <td>{{empleado.nombre}} {{empleado.apellido}}</td>
          <td>{{empleado.fecha_nacimiento | date: "dd/MM/yyyy"}}</td>
          <td>{{empleado.direccion}}</td>
          <td>{{empleado.telefono}}</td>
          <td>{{empleado.puesto}}</td>
          <td>{{empleado.estado}}</td>
          <td>
            <button class="boton boton--1" (click)="edicion(empleado)" ></button>
            <button class="boton boton--2" (click)="mostrarModalEliminar(empleado.idempleados!)" ></button>
          </td>
      </table>
    </div>
  </div>

<!--Modal Eliminar-->
<div class="modal__eliminar" *ngIf="verModalEliminar">
  <div class="contenedor__advertencia">
    <div class="advertencia">
      <h1>Eliminar registro</h1>
      <p>Seguro que quieres eliminar este registro?</p>
    </div>
    <div class="advertencia__botones">
      <button class="boton__1" (click)="eliminarRegistro()">Aceptar</button>
      <button class="boton__2" (click)="ocultarModalEliminar()">
        Cancelar
      </button>
    </div>
  </div>
</div>
